organizationName: 'ProtocolOne'
applicationName: 'Launcher'
urlProtocolScheme: 'protocolone'
status: 
    url: 'https://gnapi.com/status.json'
    enabled: false
auth:
    debug: true
    url: 'http://auth.protocol.local:8080'
    version: 'v1'
    localWebSocketUrl: 'ws://wss.protocol.one'
api:
    debug: false
    url: 'http://api.protocol.local:8080'
    version: 'v1'
support:
    url: 'http://google.com'
googleAnalytic:
    enabled: true
    trackingId: ''
update:
    enabled: false
    url: http://fs.protocol.local:8080/update/launcher/
    directory: 'tst'